*{
  transition: all .3s;
}
body{
  overflow-x: hidden;
}
@font-face{
  font-family: "Montserrat Medium";
  src: url(Montserrat-Medium.ttf) format("truetype");
}
@font-face{
  font-family: "Montserrat Regular";
  src: url(Montserrat-Regular.ttf) format("truetype");
}
h1, h2, h3, h4, h5, h6 {font-family: "Montserrat Medium"; letter-spacing: 0.3px;}
p, a, label, input{font-family: "Montserrat Regular"; font-size: 0.85rem; letter-spacing: 0.3px;}
a:hover{
  text-decoration: none;
}
.nav-savanna{
  position: fixed;
  z-index: 2;
  transition: all .3s;
  z-index: 9;
}
.text-light-blue{
  color: #6C919C;
}
.text-dark-blue{
  color: #113447;
}
.bg-dark-blue{
  background-color: #073544;
}
.text-red{
  color: #D06A51;
}
.text-gray{
  color: #6D6E71;
}
.background-red{
  background-color: #BA7254;
}
.header .wrap-title{
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%);
}
.about-section{
  background-image: url(../images/background-about-section-03.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 0;
  padding-bottom: 61px;
}
.about-section .detail-section{
  padding-top: 90vh;
}
.about-section .brief-top{
  padding-top: 50px;
}
.button-red{
  background-color: #D06A51;
  color: #fff;
  border-radius: 10px;
}
.button-red:hover{
  background-color: #fff;
  color: #D06A51;
}
.daftar-sekarang-wrapper .button-red:hover{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.08);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.08);
}
.button-white{
  background-color: #fff;
  color: #D06A51;
  border-radius: 10px;
}
.button-white:hover{
  background-color: #113447;
  color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.08);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.08);
}
.bg-gray{
  background-color: #C6C5BA;
}
.thumbnail-images{
  background-image: url(../images/bg-mid-home-06.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 50px;
  padding-bottom: 0;
  border-bottom-right-radius: 24rem;
} 
.contact-form{
  padding-top: 100px;
  background-image: url(../images/bottom-background-03.jpg);
  background-position: top;
  background-size: cover;
  padding-bottom: 190px;
}
.daftar-sekarang{
  padding-top: 100px;
  padding-bottom: 100px;
}
input.form-control, select, textarea, option{
  background: none !important;
  border-radius: 0 !important;
}
.disclaimer p{
  font-size: 0.75rem;
}
.nav-savanna ul li{
  list-style-type: none;
  display: inline-block;
  margin: 40px 0;
  border-left: 2px solid #D06A51;
  padding: 0 23px;
}
.nav-savanna ul li:first-child{
  border: none;
}
.nav-savanna ul li a{
  color: #394850;
  font-size: 16px;
}
.nav-savanna ul li a:hover{
  text-decoration: none;
}
.nav-savanna .daftar-sekarang-wrapper{
  padding-top: 35px;
}
.nav-savanna.solid{
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
}
.nav-savanna .menu-desktop.shrink ul li{
  margin: 20px 0;
}
.nav-savanna .menu-desktop.shrink .daftar-sekarang-wrapper{
  padding-top: 15px;
}
.nav-savanna .img-logo{
  width: 70%;
  margin-bottom: -50px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
}
.nav-savanna.solid .img-logo{
  width: 50%;
  transition: all .3s;
}
.nav-savanna .menu-icon-wrap{
  padding: 1.5rem;
}
.nav-savanna.solid .menu-icon-wrap{
  padding: 0.6rem;
}
.nav-savanna .menu-desktop ul li a:hover{
  color: #d06a51;
}
.wrap-whatsapp-button{
  position: sticky;
  top: 90vh;
  z-index: 8;
}
.button-whatsapp-sticky{
  position: absolute;
  right: 20px;
  bottom: -30px;
  z-index: 8;
}
.wrap-whatsapp-button .button-whatsapp-sticky img{
  width: 55px;
  filter: drop-shadow(2px 2px 3px #595959);
  -webkit-filter: drop-shadow(2px 2px 3px #595959);
}
.logo-footer-divider{
  border-left: 1px solid #D06A51;
  height: 80%;
  float: right;
  margin-right: 3rem;
}
/* Ornaments */
.header .ornament-right{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.ornament-top-brief{
  position: absolute;
  bottom: -140px;
  left: -100px;
  z-index: 1;
}
.about-section .ornament-about{
  position: absolute;
  right: 100px;
  bottom: -80px;
}
.usp-section{
  padding-top: 6rem;
}
.thumbnail-images .ornament-thumbnail-top{
  position: absolute;
  bottom: -55px;
  right: -40px;
}
.thumbnail-images .ornament-mid{
  position: absolute;
  bottom: 250px;
  left: -460px;
}
.thumbnail-images .bottom-ornament{
  position: absolute;
  bottom: -140px;
  right: -110px;
  z-index: 2;
}
.thumbnail-images .title-thumbnails{
  margin-top: -85px;
}
.thumbnail-images .detail-list{
  list-style-type: none;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  width: 80%;
  margin: 50px auto 150px;
}
.contact-form .ornament-top{
  position: absolute;
  right: -520px;
  top: 133px;
}
.contact-form .ornament-bottom{
  position: absolute;
  left: -620px;
  bottom: 50px;
}
.move-left, .move-right, .move-top{
  transition: none;
}
/* Position Stop */
#developers{
  position: absolute;
  top: 880px;
  left: 0;
  width: 50px;
  height: 50px;
}
#cluster{
  position: absolute;
  top: 90px;
  left: 0;
  width: 50px;
  height: 50px;
}
#location{
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  bottom: 970px;
}
.button-form{
  border: none;
}
input[type=text], textarea, select, option{
  color: #fff !important;
} 
.logo-footer{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
.contact-form .button-red{
  width: 200px;
position: absolute;
bottom: 0;
}
@media screen and (max-width: 414px) {
  body{
    overflow-x: hidden;
  }
  h1{
    font-size: 1.8rem;
    line-height: 35px;
    letter-spacing: 0.2px;
  }
  .logo-wrap img{
    width: 120px;
  }
  .header .wrap-title {
    left: 59%;
    bottom: 120px;
    transform: translate(-50%);
    width: 100%;
  }
  p{font-size: 0.7rem;}
  h6{font-size: 0.7rem;}
  .about-section{
    background-image: url(../images/background-about-section-03-mobile-04.jpg);
    padding-top: 0;
  }
  .thumbnail-images{
    background-image: url(../images/bg-mid-home-06-mobile-04-05.jpg);
    padding-top: 0;
    border-bottom-right-radius: 10rem;
    padding-bottom: 150px;
  }
  .head-thumbnail-mobile{
    width: 250px;
    float: right;
  }
  .contact-form .button-red{
    margin: auto;
    text-align: center;
    display: table;
  }
  .usp-section{
    padding-top: 110px;
    padding-bottom: 0;
    background-image: url(../images/usp-section.jpg);
    background-size: cover;
    background-position: center;
  }
  .header .ornament-right {
    right: -90px;
    bottom: -140px;
    width: 150px;
  }
  .ornament-top-brief {
    bottom: -120px;
    left: -80px;
    width: 110px;
  }
  .about-section .ornament-about {
    right: -160px;
    width: 180px;
    bottom: -150px;
  }
  .thumbnail-images .ornament-thumbnail-top {
    bottom: -35px;
    right: -140px;
    width: 100px;
  }
  .thumbnail-images .bottom-ornament {
    bottom: -90px;
    right: -260px;
    width: 120px;
  }
  .contact-form{
    background-image: url(../images/bottom-background-03_mobile-04.jpg);
  }
  .contact-form .ornament-top {
    right: -360px;
    top: -30px;
    width: 100px;
  }
  .side-menu{
    position: fixed;
    background-color: #d06a51;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    z-index: 9;
  }
  .side-menu.active{
    left: 0;
  }
  .nav-savanna ul{
    text-align: center;
    padding-left: 0;
    padding-top: 100px;
  }
  .nav-savanna ul li{
    display: block;
  }
  .nav-savanna ul li a{
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.3px;
  }
  #developers {
    position: absolute;
    top: 960px;
  }
  .nav-savanna .img-logo{
    margin-bottom: -40px;
  }
  .thumbnail-images .title-thumbnails {
    margin-top: 50px;
  }
  .logo-footer {
    position: relative;
    top: unset;
    transform: none;
  }
  .nav-savanna .img-logo {
    width: 106px;
  }
  .nav-savanna.solid .img-logo {
    width: 75px;
  }
  .about-section .detail-section {
    padding-top: 50vh;
  }
}
