*{
  transition: all .3s;
}
@font-face{
  font-family: "Montserrat Medium";
  src: url(Montserrat-Medium.ttf) format("truetype");
}
h1, h2, h3, h4, h5, h6, p, a {font-family: "Montserrat Medium";}
.nav-savanna {
  position: absolute;
  z-index: 2;
}
.header .wrap-title{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}